<footer>
  <div class="container">
    <div class="logo" routerLink="/"></div>
    <div class="centerMenu">
      <a routerLink="/">Home</a>
      <a routerLink="/books">Books</a>
      <a routerLink="/contacts">Contact Us</a>
    </div>
    <div class="contact">
      <div>Address: Times Square Avenue 23 E, New York City(NYC), USA</div>
      <div>Call Us: <a href="tel:+123123123">+1-(123)-123-1234</a></div>
      <div>
        E-mail:
        <a href="mailto:address@info.adress.com">address@info.address.com</a>
      </div>
    </div>
  </div>
  <div class="rights"></div>
</footer>
